.Formation {
    $yellow: #F2D64B;
    position: absolute;
    background-image: linear-gradient(to bottom, #110da1, #430fb6, #670fcb, #890ddf, #ab05f2);
    width: 100vw;
    color: $yellow;
    font-size: 13px;
    text-align: justify;
    .content {
        padding: 3vh;
        p .bold {
            font-weight: bold;
        }
    }
    @media  screen and (min-width: 1024px) {
        .content {
            padding: 10vh;
            font-size: 22px;
        }
    }
}