.Navbar {
    height: 6vh;
    background-color: #F2D64B;
    color: #110da1;
    transition-duration: 2s;
    transition-timing-function: ease;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    .item {
        padding: 2vh 3vh;
    }
    a {
        text-decoration: none;
    }
}