.DroitALaDeconnexion {
    $yellow: #F2D64B;
    color: $yellow;
    background-image: linear-gradient(to bottom, #110da1, #430fb6, #670fcb, #890ddf, #ab05f2);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vh 3vh;
    p {
        text-align: justify;
        .bold {
            font-weight: bold;
        }
    }
    img {
        width: 300px;
        padding-bottom: 1vh;
    }
    a {
        color: $yellow;
        text-decoration: none;
    }
    @media  screen and (min-width: 1024px) {
        padding: 15vh;
        font-size: 22px;
        img {
            width: 500px;
            padding-bottom: 1vh;
        }
    }
}